* {
    box-sizing: border-box;
    font: sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
}
header {
    vertical-align: bottom;
    padding: 25px;
}
.ta-left {
    display: inline;
    margin: 0;
}
.ta-right {
    float: right;
    margin: 0;
}
.main-stuff {
    text-align: center;
    padding: 50px;
}
.question-section {
    display: grid;
    margin: 25px;
    display: none;
}
.btn {
    background-color: purple;
    color: white;
    margin: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px 20px;
    width: 180px;
    font-size: 16px;
    border-radius: 8px;
}
.btn:hover {
    background-color: plum;
}